@font-face {
    font-family: "matsury";
    src: url(../fonts/Matsury.ttf);
}

@font-face {
    font-family: "stripescaps";
    src: url(../fonts/Stripescaps-AEm7.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/moneyBackground.jpg);
    background-size: 20%;
    background-position: center;
    height: 100vh;
}

footer{
    width: 100vw;
    height: 40vh;
    position: relative;
    bottom: 0;
    margin-top: 140px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: "matsury";
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: auto auto auto;
}

.footerContainer{
    grid-column: 2/3;
    grid-row: 2/3;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-image: url(../images/background.jpg);
    box-shadow: 0 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 140px;
    margin: 10px;
    padding: 10px;
}

.btnEliminar{
    width: 70px;
    align-self: center;
}

.peopleContainer, .spentContainer, .nameSpentsContainer, .btnContainer, .titleContainer, .nameSpentsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 4px solid black;
    /* padding: 10px; */
}

.btn-info{
    margin: 10px;
    font-weight: bold !important;
}

.titleContainer{
    font-family: "stripescaps";
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 2.5em;
    color: #74a591;
    margin: 10px;
    padding: 10px;
    width: 100vw;
}

.totalContainer, .titleNameSpentsContainer, .titlePeopleContainer, .titleSpentContainer{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 25px;
    text-align: center;
    color: white;
}